<div class="main-content">
  <h1>Unit Converter</h1>
  <ul>
    <li><code>Value</code> and <code>From-unit</code> are required fields</li>
    <li><code>To-unit</code> will be set automatically by selecting <code>From-unit</code></li>
    <li>The <code>result</code> will be shown underneath the form</li>
    <li>Calculations are done instantly</li>
    <li>Decimal numbers and integers are both ok for the <code>Value</code> field</li>
</ul>

</div>

<div id="conversion-form">
<div>
  <label for="value">Value:</label>
  <input type="number" id="value" [ngModel]="inputValue" (ngModelChange)="handleInputChange($event)"
    placeholder="Enter value">
</div>

<div>
  <label for="fromUnit">From-unit:</label>
  <select id="fromUnit" [(ngModel)]="fromUnit" (ngModelChange)="updateToUnit()">
    <option value="meters">Meters</option>
    <option value="feet">Feet</option>
    <option value="celsius">Celsius</option>
    <option value="fahrenheit">Fahrenheit</option>
  </select>
</div>
<div>
<label for="toUnit">To-unit:</label>
<!-- Changes automatically based on from-unit -->
<select id="toUnit" [(ngModel)]="toUnit" disabled>
  <option value="meters">Meters</option>
  <option value="feet">Feet</option>
  <option value="celsius">Celsius</option>
  <option value="fahrenheit">Fahrenheit</option>
</select>
</div>
<h3 id="conversionResult">{{ conversionResult }}</h3>
</div>