<nav>
  
  <ul>
    <a routerLink="/home"><img src="assets/logo_.png" alt="logo ConversionApp" title="logoConversionApp"></a>
    <li id="homelink" routerLinkActive="active-link"><a routerLink="/home">Home</a></li>
    <li id="aboutlink" routerLinkActive="active-link"><a routerLink="/about">About</a></li>
    <li id="conversionlink" routerLinkActive="active-link"><a routerLink="/conversion">Conversion</a></li>
    <li id="secretarealink" routerLinkActive="active-link"><a routerLink="/error-404">Secret area</a></li>
  </ul>
</nav>